$primary: "#008bce";
@import "./fonts.scss";

html {
  min-height: 100vh;
  font-family: "Open sans", Times, serif;
  font-size: 14px;
  background-attachment: fixed;
}

body {
  display: block;
  background: linear-gradient(to bottom, #f8f2ec, #d1a77a);
}

* {
  box-sizing: border-box;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.header-nav {
  border-bottom-style: double;
  border-top-style: double;
  border-color: #e6ccb3;
}

.header-toggle {
  display: none;
}

.nav {}

.container {}

.nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  text-align: center;
}

.nav-link {
  width: calc((100% - 25%) / 6);
  display: table-cell;
  padding: 0;
  margin: 0;
}

.nav-link a {
  padding: 10px 0;
  text-decoration: none;
  color: brown;
  display: block;
}

.header-desktoplogo {
  display: table-cell;
  width: 25%;
  position: relative;
}

.header-desktoplogo img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -61%);
}

.header-mobilelogo {
  display: none;
  width: 100px;
}
@media (max-width:768px) {
  body {
    padding-top: 95px;
  }

  .header-mobilelogo {
    display: block;
  }

  .header-toggle {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    background: none;
    border: none;
    margin: auto 0 auto auto;
    font-size: 25px;
  }

  .header-toggle .header-toggle-open {
    display: block;
  }

  .header-toggle .header-toggle-close {
    display: none;
  }

  .navopen .header-toggle .header-toggle-open {
    display: none;
  }

  .navopen .header-toggle .header-toggle-close {
    display: block;
  }

  .nav ul {
    display: block;
  }

  .nav {
    max-width: 20vw;
    position: absolute;
    right: -110vw;
    top: 100%;
    width: 100%;
    z-index: 99999;
    transition: all 2s;
    text-align: left;
    background: #f8f2ec;
    border: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 99999;
    display: flex;
    background: #f8f2ec;
    box-shadow: 5px 3px 15px rgba(0, 0, 0, 0.5);
  }

  .nav li {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 20px;
  }

  .header-desktoplogo {
    display: none !important;
  }

  .navopen .nav {
    right: 0;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  padding: 0 20px;
  flex: 1;
}
@media (max-width:480px) {
  .col {
    flex: none;
    width: 100%;
  }
}

.section {
  padding: 20px 0;
}

.img-responsive {
  width: 100%;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  border-radius: 2px;
  background: grey;
  text-decoration: none;
  color: white;
  transition: all 1s;
}

.button2 {
  display: inline-block;
  padding: 10px 30.5px;
  border-radius: 2px;
  background: grey;
  text-decoration: none;
  color: white;
  transition: all 1s;
}

.button:hover {
  background: pink;
}

.testimonial {
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 60px 10px;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.testimonial-content {
  max-width: 600px;
  margin: 0 auto;
}

.gallery {
  padding-top: 30px;
}

.gallery-img {
  text-align: center;
}

.text-center {
  text-align: center;
}

.feature-content {
  padding: 30px 10px;
  text-align: center;
}

.feature-img {
  display: block;
  transition: all 1s;
}

.feature-imglink {
  display: block;
  background: black;
}

.feature-img:hover {
  opacity: 0.8;
}

.banner {
  position: relative;
}

.banner-sizer {
  opacity: 0;
}

.banner-img {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0;
  background-position: bottom center;
  transition: all 2s;
}

.banner-img.active {
  opacity: 1;
}

.open-hours {
  display: inline-block;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  margin: 0;
  padding: 10px;
}

.menu-link:first-child {
  padding-top: 0;
}

.address {
  font-size: 25px;
}

.address-property {
  font-style: italic;
}

.address a {
  color: inherit;
}

.footer .menu {
  padding-top: 4px;
}

.footer-legal {
  font-style: italic;
  text-align: center;
  padding: 15px;
}

.page-title {
  padding: 45px 10px;
  text-align: center;
}

.masonary {
  display: flex;
  flex-flow: row wrap;
}

.masonary-content,
.masonary-img {
  margin: auto 0;
  width:50%;
  @media (max-width:768px){
    & {
      width: 100%;
    }
  }
}

.masonary-content {
  padding: 20px;
}
