html {
  height: 100%;
  background: linear-gradient(to bottom, #f8f2ec, #d1a77a);
  font-family: "Open sans", Times, serif;
}

body {
  width: 1000px;
  margin: auto;
  padding: 10px;
  display: block;
}

.headernav {
  border-bottom-style: double;
  border-top-style: double;
  border-color: #e6ccb3;
}

#mainheader {
  padding-top: 40px;
}

/* nav ul {
  margin: 0;
  list-style: none;
}
ul li:nth-child(4) {
  float:right;
  }
  ul li:nth-child(5) {
    float:right;
    }
    ul li:nth-child(6) {
      float:right;
      } */

nav ul {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  text-align: center;
}

.navlink {
  width: calc((100% - 25%) / 6);
  display: table-cell;
  padding: 0;
  margin: 0;
}

.navlink a {
  padding: 10px 0px;
  text-decoration: none;
  color: brown;
  display: block;
}

.headerlogo {
  display: table-cell;
  width: 25%;
  position: relative;
}

.headerlogo img {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -61%);
}

h1, h2 {

}

/*try and get 4,5,6 to hover from right side using NTH? */

/* .navlink {
  padding: 12px;
  margin-right: 50px;
  font-size: 18px;
  float: left;
  color: #d1a77a;
  text-decoration: none;

} */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
